img {
    width: 80%;
    border-radius: 30px;
    
}

.ListGroup {
    
}

.ListGroup article {
    width: 30%;
    margin: 10px auto 50px auto;
    background-color: rgb(20, 20, 20);
    padding: 20px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 40px;
}

article {
    text-align: center;

}