.App .boleta {
    display: flex;
    margin: auto;
    justify-content: center;
    background-color: rgb(20, 20, 20);
    color: white;
    margin-top: 20px;
    padding-top: 15px;
    width: 60%;
    border-radius: 20px;
}
.App .boleta p {
    padding-left: 50px;
}